.button {
    display: block;
    background-color: #dadada;
    width: 200px;
    border: 1px solid #666666;
    color:#666666;
    text-align: left;
	padding: 10px;
	margin: 10px;
}

a.button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #666666;

	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	-webkit-transition: all .35s ease-out;
  	-moz-transition: all 0.35s ease-out;
  	-o-transition: all 0.35s ease-out;
  	transition: all 0.35s ease-out;
}

a:hover.button
{
	background-color: #666666;
	border: 1px solid #666666;
	color:#dadada;
}


.buttonr {
	z-index: 1;
	display: block;
	position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;

    background-color: #dadada;
    color: #666666; 

}

.buttonr {
	z-index: 1;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 100px;

	text-decoration: none;
	text-transform: uppercase;

	-webkit-transition: all .35s ease-out;
	-moz-transition: all 0.35s ease-out;
	-o-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}

.buttonr:hover {
	background-color: #aa5039;
	color: #551200;
}

#photo{
	right:0;
	text-align: right;
	background-color: #dadada;
    color: #666666; 
    left:50%;
}
#photo:hover {
	background-color: #aa8339;
	color: #553800;
}

#blog{
	top:50%;
	text-align: left;
	background-color: #dadada;
    color: #666666; 
}
#blog:hover {
	background-color: #2d4471;
	color: #061739;
}

#links{
	top:50%;
	left:50%;
	text-align: right;
	background-color: #dadada;
    color: #666666; 
}
#links:hover {
	background-color: #28794c;
	color: #003d1a;
}



.title{
	margin-left: 20px;
	margin-top: 16px;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 80px;
}

.title2{
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 23px;
	line-height: 80px;
	position: absolute;
	bottom: 0;
}

.title3{
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 23px;
	line-height: 80px;
	position: absolute;
	bottom: 0;
	right: 0;
}