/* figure everything out later because plaigarism is bad */

/* #e0e4cc -> #67727e -> #dadada
   #887767 -> #183f64 -> #8b9299
   #494949 -> #011B36 -> #012344
   #febc0b -> #a46100 -> #bd8b42 -> #c9cccf -> #fdad0b
   #ff8a00 ------------> #d37d00
*/


body
{
	background-color:#dadada;
	color:#8b9299;
	text-align: center;
	font-size: 13.5px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	margin-top: 75px;
	margin-bottom: 32px;
}

#menu
 {
	background-color: #012344;
	

	height: 30px;
	width: 100%;
	margin-top: 0px;
	padding-top: 5px;
	padding-right: 20px;

	

	position: fixed;
	right: 0;
	top: 0;
	
	text-align: right;
	font-family: 'Roboto', sans-serif;
	color:#fdad0b;
	font-size:18px;
	word-spacing: 10px;

	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);

}

a.menu
{
	font-weight: 400;
	color: #FFFFFF;

	text-decoration: none;
	
	letter-spacing: 1px;
	margin-left: 8px;

	
	-webkit-transition: all .35s ease-out;
  	-moz-transition: all 0.35s ease-out;
  	-o-transition: all 0.35s ease-out;
  	transition: all 0.35s ease-out;
}

a.menu:hover
{
	color:#fdad0b;	
}

a
{
	text-decoration: none;
	color:#d37d00;
	font-weight: 700;
	-webkit-transition: all .25s ease-out;
  	-moz-transition: all 0.25s ease-out;
  	-o-transition: all 0.25s ease-out;
  	transition: all 0.25s ease-out;
}

a:hover
{
	color:#d37d00;
}

i
{
	color: #d37d00;
}
